.detail_container{
    position: fixed;
    top: 0;
    bottom: 0;
    /* left: 0; */
    right: 0;
    background: #ffffff;
    z-index: 79;
    max-height: 100vh;
    width: 100vw;
    max-width: 50rem;
    transition: .2s;
}
.detail_container_closed{
    transform: translateX(100%);
}

.menu_icon{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: .8rem;
    width: 3.4rem;
}
#complete_button{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    padding: .8rem;
    background: #008aab;
    border-radius: 4rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: #ffffff;
}
#complete_button svg{
    width: 2.4rem;
    height: 2.4rem;
    margin-right: .4rem;
    padding: .4rem;
}
#complete_button div{
    margin-right: .4rem;
}
.back_arrow_box{
    width: 5rem;
}
.menu_icon svg{
    width: 100%;
    height: 100%;
}
.nav_detail_box{
    position: relative;
    padding-left: .6rem;
    padding-right: 1.6rem;
}

.student_info_container{
    padding: 1.8rem;
    position: relative;
    height: 100%;
}

#Page_name{
    padding: .4rem;
}
#Page_name h2{
 margin: 1rem 1rem;
}
.fee_info_box{
    height: 56%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fee_info_box::-webkit-scrollbar {
    display: none;
  }
.fee_info_box .data_box{
    width: 90%;
    padding-bottom: .4rem;
}
.fee_info_box hr{
    margin-top: .6rem;
    height: .3rem ;
    background-color: #f7f7f7;
    border: .15rem solid #f7f7f7;
    width: 100%;
}

.bottom_info{
    position: fixed;
    bottom: 0;
    right: 0;
    padding-top: .6rem;
    box-shadow: 0 0 .4rem 0rem #00000031;
    background-color: #ffffff;
    padding-bottom: 1rem;
    /* margin: auto auto 0 auto; */
    width: 100%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
 
}

.bottom_info .data_box{
    margin: 1rem;
    width: 90%;
}



/* notification CSS */

.notification_container{
    width: 100%;
    height: calc(100vh - 4.8rem);
    position: relative;
    padding: 1rem;
    overflow: scroll;
    background-color: #f7f7f7;
}
.notification_container::-webkit-scrollbar {
    display: none;
  }

.noti_upper_box{
    padding: 0rem 1.4rem;

}
.notification_box{
    width: 100%;
    min-height: 10rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px 1px #9a9a9a18;
    margin: 1.6rem auto;
    padding: .8rem;
    border-radius: 2rem;
    transition: .15s;
}
    
.notification_head{
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0rem 0rem;
}

.notification_domain{
    margin: 1.4rem .6rem;
    font-size: 1.6rem;
}
.notice_head{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .6rem;

}

.grey_box{
    background: #ececec;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: .5rem;
    margin-right: .6rem;
}
.bottom_box_notice{
    margin: 1rem 1.4rem ;
    margin-top: 1.4rem;
}

.scale_it{
    scale: 200%;
    font-weight: 800;
}
.scale_remove{
    scale: 100%;
    font-weight: 600;
}


.remove_box{
    width: 100%;
    /* height: 2rem; */
    padding: .5rem 1rem;
    background-color: rgb(255, 227, 227);
    border-radius: .4rem;
}
.Removed_head{
    font-size: 1.4rem;
    font-weight: 800;
    color:#961a1a;
}
.remove_reason{
    font-size: 1.4rem;
    color:rgb(165, 57, 57);
    font-weight: 500;
    letter-spacing: .015rem;
    padding:.5rem;
}